.default{
	--body-background: #302F2E;
	--text-color: #ebbb53;
	--icons-text-color: #D8D8D8;
	--icons-background: '';
	--iconsHover-text-color: #e4ac6d;
	--iconsHover-background: #2b2a2a4f;
	--quoteBox-text-color: #c7c2c2;
	--quoteBox-background: #474747;
	--quoteBox-fontFamily: "Roboto Mono";
	--cursor-color: #d4d4d4;
	--correct-text-color: #f3f3f3;
	--correct-text-background: #f3f3f3;
  --incorrect-text-color: #f38888;
  --incorrect-background: none;
  }

.ishtar{
	--body-background: #202020;
	--text-color: #c58940;
	--icons-text-color: #da9e59;
	--icons-background: '';
	--iconsHover-text-color: #fae1c3;
	--iconsHover-background: none;
	--quoteBox-text-color: #847869;
	--quoteBox-background: #1816166b;
	--quoteBox-fontFamily: "Roboto Mono";
	--cursor-color: #d4d4d4;
	--correct-text-color: #fae1c3;
	--correct-text-background: initial;
	--incorrect-text-color: #f38888;
	--incorrect-background: none;
}

.arch{
	--body-background: #0c0d11;
	--text-color: #7ebab5;
	--icons-text-color: #7ebab5;
	--icons-background: '';
	--iconsHover-text-color: #d1b397;
	--iconsHover-background: none;
	--quoteBox-text-color: #4e4c4c;
	--quoteBox-background: #1816166b;
	--quoteBox-fontFamily: "Roboto Mono";
	--cursor-color: #d4d4d4;
	--correct-text-color: #7ebab5;
	--correct-text-background: initial;
	--incorrect-text-color: #f38888;
	--incorrect-background: none;
}

.bento{
	--body-background: #2d394d;
	--text-color: #7ebab5;
	--icons-text-color: #ff7a90;
	--icons-background: '';
	--iconsHover-text-color: #fffaf8;
	--iconsHover-background: none;
	--quoteBox-text-color: #4a768d;
	--quoteBox-background: #1816166b;
	--quoteBox-fontFamily: "Roboto Mono";
	--cursor-color: #d4d4d4;
	--correct-text-color: #ffffff;
	--correct-text-background: initial;
	--incorrect-text-color: #ee2a3a;
	--incorrect-background: none;
}

.camping{
	--body-background: #faf1e4;
	--text-color: #7ebab5;
	--logo-color: black;
	--icons-text-color: #618c56;
	--icons-background: '';
	--iconsHover-text-color: #fffaf8;
	--iconsHover-background: none;
	--quoteBox-text-color: #c2b8aa;
	--quoteBox-background: #1816166b;
	--quoteBox-fontFamily: "Roboto Mono";
	--cursor-color: #d4d4d4;
	--correct-text-color: #3c403b;
	--correct-text-background: initial;
	--incorrect-text-color: #ad4f4e;
	--incorrect-background: none;
}

.DefaultBtn{
	background-color: #303030;
	color: #dddddd;
}

.ishtarBtn{
	background-color: #202020;
	color: #c58940;
}
.archBtn{
	background-color: #0c0d11;
	color: #fafafa;
}
.bentoBtn{
	background: #2d394d;
	color: #ff7a90;
}

.campingBtn{
	background: #faf1e4;
	color: #618c56;
}
.acc::after{
	font-size: 20px;
	content: "%"
}
.wpm::after{
	font-size: 15px;
	content: "wpm"
}